/* FONTS PATH */
// $fa-font-path: '../fonts';
// $fa-font-path: '../webfonts';

$xs: 0;
$sm: 540px;
$md: 720px;
$lg: 960px;
$xl: 1140px;
$xxl: 1440px;

/*containers size*/
$container-max-widths: (
  sm: $sm,
  md: $md,
  lg: $lg,
  xl: $xl,
  xxl: $xxl
);

$grid-breakpoints: (
  xs: $xs,
  sm: $sm,
  md: $md,
  lg: $lg,
  xl: $xl,
  xxl: $xxl
);

/*fonts*/

/*COLORS*/
$primary: #0072d2;
$warning: #ffa800;
$dark: #131318;
$white: #ffffff;

$theme-colors: (
  'primary': $primary,
  'warning': $warning,
  'dark': $dark,
  'white': $white
);
